.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3999.8500000000004px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: 558px;
}

#pu141
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u141
{
	z-index: 2;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/elitefon.ru-24681.jpg") no-repeat center center;
}

#u141_position_content
{
	margin-top: 4px;
	margin-bottom: 333px;
}

#pu183
{
	width: 0.01px;
	left: -49px;
	position: relative;
}

#u183
{
	z-index: 42;
	width: 339px;
	position: relative;
	margin-right: -10000px;
}

#u155-10
{
	z-index: 19;
	width: 324px;
	min-height: 133px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 488px;
}

#u155-2,#u155-4,#u155-6
{
	font-size: 24px;
	line-height: 29px;
	color: #00FFFF;
}

#pu172
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 974px;
}

#u172
{
	z-index: 40;
	width: 81px;
	margin-left: 146px;
	position: relative;
}

#u156-11
{
	z-index: 29;
	width: 292px;
	min-height: 138px;
	margin-top: 10px;
	position: relative;
}

#u156-3
{
	font-size: 18px;
	color: #00FFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u156
{
	font-size: 24px;
	text-decoration: underline;
	line-height: 29px;
}

#u156-2
{
	font-size: 24px;
	line-height: 29px;
}

#u156-5
{
	font-size: 18px;
	line-height: 22px;
	color: #00FFFF;
}

#u156-8
{
	font-size: 24px;
	color: #00FFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u156-6
{
	font-size: 18px;
	line-height: 22px;
}

#u156-7
{
	line-height: 29px;
}

#u148-4
{
	z-index: 3;
	width: 638px;
	min-height: 37px;
	text-align: center;
	line-height: 48px;
	font-size: 40px;
	color: #00FFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	left: 277px;
	margin-top: 27px;
	position: relative;
}

#u151-7
{
	z-index: 7;
	width: 459px;
	min-height: 72px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	left: 364px;
	margin-top: 99px;
	position: relative;
}

#u151-2,#u151-4
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

#u152-5
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 276px;
	left: 276px;
}

#u446
{
	z-index: 54;
	width: 264px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 54px;
}

#pu380
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u380
{
	z-index: 44;
	width: 1160px;
	-pie-box-shadow: 6px 6px 8px #6D6D6D;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.57);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.57);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.57);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/%d1%83%d0%b2%d1%83%d0%b2%d1%83%d0%b2.jpg") no-repeat left bottom;
	background-size: cover !important;
}

#u380_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 962px;
	position: relative;
	left: -99px;
	padding-top: 39px;
	padding-bottom: 161px;
}

#u370-9
{
	z-index: 45;
	width: 861px;
	min-height: 121px;
	background-color: transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	left: 149px;
	position: relative;
}

#u370-4
{
	font-size: 30px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u370
{
	line-height: 36px;
}

#u370-2
{
	font-size: 40px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	line-height: 48px;
}

#u370-3,#u370-6
{
	font-size: 40px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	line-height: 48px;
}

#pu506-3
{
	width: 0.01px;
	left: 64px;
	margin-top: 17px;
	position: relative;
}

#u506-3
{
	z-index: 60;
	width: 228px;
	min-height: 190px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px #000000/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px -1px #000000/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px #000000/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.48;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=48)";
	filter: alpha(opacity=48);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u516-3
{
	z-index: 66;
	width: 228px;
	min-height: 190px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px #000000/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px -1px #000000/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px #000000/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.48;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=48)";
	filter: alpha(opacity=48);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 259px;
}

#u518-3
{
	z-index: 72;
	width: 228px;
	min-height: 190px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px #000000/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px -1px #000000/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px #000000/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.48;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=48)";
	filter: alpha(opacity=48);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u520-3
{
	z-index: 78;
	width: 228px;
	min-height: 190px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px #000000/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px -1px #000000/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px #000000/* glow */,
7px 15px 17px #000000/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.48;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=48)";
	filter: alpha(opacity=48);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 780px;
}

#pu495-3
{
	width: 0.01px;
	left: 182px;
	margin-top: 255px;
	position: relative;
}

#u495-3
{
	z-index: 57;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#u540-9
{
	z-index: 174;
	width: 161px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u545-3
{
	z-index: 238;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 463px;
}

#u482
{
	z-index: 56;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 480px;
	position: relative;
	margin-right: -10000px;
	margin-top: 804px;
	background: #FFFFFF url("../images/%d1%83%d0%b2%d1%83%d0%b2%d1%83%d0%b2.jpg") no-repeat left bottom;
	background-size: cover !important;
}

#pu531-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -24px;
	left: 181px;
}

#u531-3
{
	z-index: 142;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	position: relative;
}

#u532-3
{
	z-index: 145;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	margin-top: 78px;
	position: relative;
}

#u533-3
{
	z-index: 148;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	margin-top: 78px;
	position: relative;
}

#u534-3
{
	z-index: 151;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	margin-top: 78px;
	position: relative;
}

#pu541-8
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -42px;
	left: 272px;
}

#u541-8
{
	z-index: 183;
	width: 266px;
	min-height: 46px;
	position: relative;
}

#u542-13
{
	z-index: 191;
	width: 266px;
	min-height: 85px;
	margin-top: 37px;
	position: relative;
}

#u544-12
{
	z-index: 226;
	width: 283px;
	min-height: 46px;
	margin-top: 133px;
	position: relative;
}

#pu546-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -24px;
	left: 641px;
}

#u546-3
{
	z-index: 241;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u547-3
{
	z-index: 244;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 78px;
	position: relative;
}

#u548-3
{
	z-index: 247;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 78px;
	position: relative;
}

#u549-3
{
	z-index: 250;
	width: 60px;
	min-height: 53px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 255, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #DB0ADB;
	background-color: transparent;
	margin-top: 78px;
	position: relative;
}

#pu557-7
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 733px;
}

#u557-7
{
	z-index: 295;
	width: 229px;
	min-height: 46px;
	position: relative;
}

#u558-10
{
	z-index: 302;
	width: 259px;
	min-height: 46px;
	margin-top: 38px;
	position: relative;
}

#u559-10
{
	z-index: 312;
	width: 278px;
	margin-top: 18px;
	position: relative;
}

#u515-3
{
	z-index: 63;
	width: 209px;
	min-height: 37px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #009A5E;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 74px;
}

#u517-3
{
	z-index: 69;
	width: 209px;
	min-height: 37px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #009A5E;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 334px;
}

#u519-3
{
	z-index: 75;
	width: 209px;
	min-height: 37px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #009A5E;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 594px;
}

#u521-3
{
	z-index: 81;
	width: 209px;
	min-height: 37px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #009A5E;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 855px;
}

#u523-4
{
	z-index: 84;
	width: 140px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 109px;
}

#u524-4
{
	z-index: 88;
	width: 193px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 352px;
}

#u525-4
{
	z-index: 92;
	width: 140px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 634px;
}

#u526-4
{
	z-index: 96;
	width: 161px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 885px;
}

#u523,#u524,#u525,#u526
{
	text-decoration: underline;
}

#u527-9
{
	z-index: 100;
	width: 180px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
	left: 89px;
}

#u528-10
{
	z-index: 109;
	width: 180px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 349px;
}

#u529-11
{
	z-index: 119;
	width: 180px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 609px;
}

#u530-12
{
	z-index: 130;
	width: 180px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 872px;
}

#u535-4
{
	z-index: 154;
	width: 55px;
	min-height: 54px;
	background-color: transparent;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 655px;
	left: 203px;
}

#u536-4
{
	z-index: 158;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 792px;
	left: 203px;
}

#u537-4
{
	z-index: 162;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 930px;
	left: 203px;
}

#u538-4
{
	z-index: 166;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1067px;
	left: 203px;
}

#u539-4
{
	z-index: 170;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1204px;
	left: 203px;
}

#u543-11
{
	z-index: 204;
	width: 283px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1004px;
	left: 272px;
}

#u461-9
{
	z-index: 215;
	width: 302px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 527px;
	left: 7px;
}

#u451
{
	z-index: 224;
	width: 1160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 442px;
}

#u550-11
{
	z-index: 253;
	width: 253px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 733px;
}

#u551-4
{
	z-index: 264;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 655px;
	left: 666px;
}

#u552-4
{
	z-index: 268;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 792px;
	left: 666px;
}

#u553-4
{
	z-index: 272;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 930px;
	left: 666px;
}

#u554-4
{
	z-index: 276;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1067px;
	left: 666px;
}

#u555-4
{
	z-index: 280;
	width: 55px;
	min-height: 54px;
	line-height: 43px;
	font-size: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1204px;
	left: 654px;
}

#u556-11
{
	z-index: 284;
	width: 234px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 744px;
	left: 733px;
}

#u540-4,#u541-4,#u542-7,#u544-5,#u557-4,#u558-5,#u559-4,#u559-5,#u543-6,#u550-6,#u556-5
{
	font-weight: bold;
}

#u560
{
	z-index: 322;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1384px;
	background: #FFFFFF url("../images/%d0%b1%d0%b5%d0%bb%d1%8b%d0%b9.jpg") no-repeat center center;
	background-size: cover !important;
}

#u560_position_content
{
	margin-bottom: 9px;
}

#u573-4
{
	z-index: 323;
	width: 611px;
	min-height: 74px;
	text-align: center;
	line-height: 58px;
	font-size: 48px;
	left: 236px;
	position: relative;
}

#pu574-3
{
	width: 0.01px;
	left: 120px;
	margin-top: 3px;
	position: relative;
}

#u574-3
{
	z-index: 327;
	width: 184px;
	min-height: 53px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
}

#u671-3
{
	z-index: 334;
	width: 184px;
	min-height: 53px;
	background-color: #DB9F00;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u706-3
{
	z-index: 424;
	width: 184px;
	min-height: 53px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u725-3
{
	z-index: 472;
	width: 184px;
	min-height: 53px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u744-3
{
	z-index: 520;
	width: 184px;
	min-height: 53px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u579-3
{
	z-index: 330;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
}

#u672-3
{
	z-index: 337;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u707-3
{
	z-index: 427;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u726-3
{
	z-index: 475;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u745-3
{
	z-index: 523;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u673-3
{
	z-index: 340;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
}

#u674-3
{
	z-index: 343;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u708-3
{
	z-index: 430;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u727-3
{
	z-index: 478;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u746-3
{
	z-index: 526;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u675-3
{
	z-index: 346;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
}

#u676-3
{
	z-index: 349;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u709-3
{
	z-index: 433;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u728-3
{
	z-index: 481;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u747-3
{
	z-index: 529;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u677-3
{
	z-index: 352;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
}

#u678-3
{
	z-index: 355;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u711-3
{
	z-index: 436;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u729-3
{
	z-index: 484;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u748-3
{
	z-index: 532;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u679-3
{
	z-index: 358;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u680-3
{
	z-index: 361;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 186px;
}

#u712-3
{
	z-index: 439;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 372px;
}

#u730-3
{
	z-index: 487;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 558px;
}

#u749-3
{
	z-index: 535;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#pu681-3
{
	width: 0.01px;
	left: 120px;
	position: relative;
}

#u681-3
{
	z-index: 364;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u682-3
{
	z-index: 367;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 186px;
}

#u713-3
{
	z-index: 442;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 372px;
}

#u731-3
{
	z-index: 490;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u750-3
{
	z-index: 538;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u683-3
{
	z-index: 370;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u684-3
{
	z-index: 373;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 186px;
}

#u714-3
{
	z-index: 445;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u732-3
{
	z-index: 493;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u751-3
{
	z-index: 541;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u685-3
{
	z-index: 376;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u686-3
{
	z-index: 379;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 186px;
}

#u715-3
{
	z-index: 448;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u733-3
{
	z-index: 496;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u752-3
{
	z-index: 544;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u687-3
{
	z-index: 382;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u688-3
{
	z-index: 385;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 186px;
}

#u716-3
{
	z-index: 451;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 372px;
}

#u734-3
{
	z-index: 499;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u753-3
{
	z-index: 547;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#pu579-3,#pu673-3,#pu675-3,#pu677-3,#pu679-3,#pu683-3,#pu685-3,#pu687-3,#pu689-3
{
	width: 0.01px;
	left: 120px;
	margin-top: 1px;
	position: relative;
}

#u689-3
{
	z-index: 388;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u690-3
{
	z-index: 391;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 186px;
}

#u717-3
{
	z-index: 454;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 372px;
}

#u735-3
{
	z-index: 502;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u754-3
{
	z-index: 550;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u762-4
{
	z-index: 568;
	width: 134px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1477px;
	left: 150px;
}

#u763-4
{
	z-index: 572;
	width: 134px;
	min-height: 37px;
	text-align: left;
	line-height: 29px;
	font-size: 24px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1477px;
	left: 377px;
}

#u764-4
{
	z-index: 576;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1530px;
	left: 130px;
}

#u765-4
{
	z-index: 580;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1583px;
	left: 130px;
}

#u766-4
{
	z-index: 584;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1634px;
	left: 130px;
}

#u767-4
{
	z-index: 588;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1685px;
	left: 130px;
}

#u768-4
{
	z-index: 592;
	width: 176px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1725px;
	left: 130px;
}

#u769-4
{
	z-index: 596;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1783px;
	left: 130px;
}

#u770-4
{
	z-index: 600;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1834px;
	left: 130px;
}

#u771-4
{
	z-index: 604;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1883px;
	left: 130px;
}

#u773-4
{
	z-index: 608;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1934px;
	left: 130px;
}

#u774-4
{
	z-index: 612;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1985px;
	left: 130px;
}

#u785
{
	z-index: 642;
	width: 62px;
	height: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1509px;
	left: 367px;
}

.ie #u785
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u815-4
{
	z-index: 643;
	width: 68px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1528px;
	left: 364px;
}

#u816
{
	z-index: 647;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1575px;
	left: 384px;
}

#u822-4
{
	z-index: 649;
	width: 68px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1633px;
	left: 370px;
}

#u823-4
{
	z-index: 653;
	width: 94px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1683px;
	left: 351px;
}

#u824
{
	z-index: 657;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1725px;
	left: 384px;
}

#u827
{
	z-index: 659;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1774px;
	left: 384px;
}

#u833
{
	z-index: 661;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1823px;
	left: 384px;
}

#u836
{
	z-index: 663;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1872px;
	left: 384px;
}

#u840
{
	z-index: 665;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1922px;
	left: 384px;
}

#u843
{
	z-index: 667;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1972px;
	left: 384px;
}

#u863-4
{
	z-index: 681;
	width: 134px;
	min-height: 37px;
	text-align: left;
	line-height: 29px;
	font-size: 24px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1477px;
	left: 542px;
}

#u864-4
{
	z-index: 685;
	width: 134px;
	min-height: 37px;
	text-align: left;
	line-height: 29px;
	font-size: 24px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1477px;
	left: 728px;
}

#u865-4
{
	z-index: 689;
	width: 134px;
	min-height: 37px;
	text-align: left;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1477px;
	left: 934px;
}

#u866-4
{
	z-index: 693;
	width: 68px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1528px;
	left: 558px;
}

#u867
{
	z-index: 697;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1575px;
	left: 569px;
}

#u870-4
{
	z-index: 699;
	width: 68px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1634px;
	left: 558px;
}

#u871-4
{
	z-index: 703;
	width: 94px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1683px;
	left: 542px;
}

#u872
{
	z-index: 707;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1725px;
	left: 569px;
}

#u875
{
	z-index: 709;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1774px;
	left: 569px;
}

#u878
{
	z-index: 711;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1822px;
	left: 569px;
}

#u881
{
	z-index: 713;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1870px;
	left: 569px;
}

#u884
{
	z-index: 715;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1922px;
	left: 569px;
}

#u887
{
	z-index: 717;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1969px;
	left: 569px;
}

#u903-4
{
	z-index: 731;
	width: 68px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1527px;
	left: 736px;
}

#u904-4
{
	z-index: 735;
	width: 124px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1583px;
	left: 713px;
}

#u905-4
{
	z-index: 739;
	width: 68px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1633px;
	left: 730px;
}

#u906-4
{
	z-index: 743;
	width: 94px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1683px;
	left: 723px;
}

#u908
{
	z-index: 747;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1722px;
	left: 750px;
}

#u911
{
	z-index: 749;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1774px;
	left: 755px;
}

#u914
{
	z-index: 751;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1822px;
	left: 755px;
}

#u917
{
	z-index: 753;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1872px;
	left: 755px;
}

#u920
{
	z-index: 755;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1922px;
	left: 750px;
}

#u923
{
	z-index: 757;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1972px;
	left: 750px;
}

#u943-4
{
	z-index: 771;
	width: 68px;
	min-height: 31px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1527px;
	left: 933px;
}

#u944-4
{
	z-index: 775;
	width: 124px;
	min-height: 31px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1583px;
	left: 894px;
}

#u945
{
	z-index: 779;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1621px;
	left: 937px;
}

#u948-4
{
	z-index: 781;
	width: 94px;
	min-height: 31px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1683px;
	left: 909px;
}

#u949
{
	z-index: 785;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1721px;
	left: 937px;
}

#u953
{
	z-index: 787;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1772px;
	left: 936px;
}

#u956
{
	z-index: 789;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1822px;
	left: 934px;
}

#u959
{
	z-index: 791;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1877px;
	left: 937px;
}

#u962
{
	z-index: 793;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1927px;
	left: 937px;
}

#u965
{
	z-index: 795;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1971px;
	left: 937px;
}

#pu589
{
	width: 0.01px;
	left: -100px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u589
{
	z-index: 333;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 390px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/%d0%b1%d0%b5%d0%bb%d1%8b%d0%b9.jpg") no-repeat center center;
	background-size: cover !important;
}

#u141_align_to_page,#u482_align_to_page,#u560_align_to_page,#u589_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 962px;
	position: relative;
	left: -99px;
}

#pu691-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u691-3
{
	z-index: 394;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
}

#u693-3
{
	z-index: 400;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	margin-top: 1px;
	position: relative;
}

#u695-3
{
	z-index: 406;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	margin-top: 1px;
	position: relative;
}

#u697-3
{
	z-index: 412;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	margin-top: 1px;
	position: relative;
}

#u699-3
{
	z-index: 418;
	width: 184px;
	min-height: 49px;
	-pie-box-shadow: -9px 3px 8px #000000;
	-moz-box-shadow: -9px 3px 8px #000000;
	-webkit-box-shadow: -9px 3px 8px -1px #000000;
	box-shadow: -9px 3px 8px #000000;
	background-color: #403F0E;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	margin-top: 1px;
	position: relative;
}

#pu692-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u692-3
{
	z-index: 397;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
}

#u694-3
{
	z-index: 403;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u696-3
{
	z-index: 409;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u698-3
{
	z-index: 415;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u700-3
{
	z-index: 421;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#pu718-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 492px;
}

#u718-3
{
	z-index: 457;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
}

#u719-3
{
	z-index: 460;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u720-3
{
	z-index: 463;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u721-3
{
	z-index: 466;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u722-3
{
	z-index: 469;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#pu736-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 678px;
}

#u736-3
{
	z-index: 505;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	position: relative;
}

#u737-3
{
	z-index: 508;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u738-3
{
	z-index: 511;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u739-3
{
	z-index: 514;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#u740-3
{
	z-index: 517;
	width: 184px;
	min-height: 49px;
	background-color: #DB9F00;
	margin-top: 1px;
	position: relative;
}

#pu755-3
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 864px;
}

#u755-3
{
	z-index: 553;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
}

#u756-3
{
	z-index: 556;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	margin-top: 2px;
	position: relative;
}

#u757-3
{
	z-index: 559;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	position: relative;
}

#u758-3
{
	z-index: 562;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	margin-top: 1px;
	position: relative;
}

#u759-3
{
	z-index: 565;
	width: 184px;
	min-height: 49px;
	background-color: #403F0E;
	margin-top: 1px;
	position: relative;
}

#u775-4
{
	z-index: 616;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 130px;
}

#u776-4
{
	z-index: 620;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 130px;
}

#u777-4
{
	z-index: 624;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 130px;
}

#u778-7
{
	z-index: 628;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 130px;
}

#u779-7
{
	z-index: 635;
	width: 201px;
	min-height: 37px;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 130px;
}

#u846
{
	z-index: 669;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 384px;
}

#u849-4
{
	z-index: 671;
	width: 94px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 357px;
}

#u850
{
	z-index: 675;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 384px;
}

#u853
{
	z-index: 677;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 384px;
}

#u856
{
	z-index: 679;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 384px;
}

#u890
{
	z-index: 719;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 569px;
}

#u893-4
{
	z-index: 721;
	width: 94px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 537px;
}

#u894
{
	z-index: 725;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 569px;
}

#u897
{
	z-index: 727;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 569px;
}

#u900
{
	z-index: 729;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 569px;
}

#u926
{
	z-index: 759;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 750px;
}

#u929-4
{
	z-index: 761;
	width: 94px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 723px;
}

#u931
{
	z-index: 765;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 755px;
}

#u937
{
	z-index: 767;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 750px;
}

#u940
{
	z-index: 769;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 750px;
}

#u968
{
	z-index: 797;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 937px;
}

#u971-4
{
	z-index: 799;
	width: 94px;
	min-height: 31px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 907px;
}

#u972
{
	z-index: 803;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 937px;
}

#u978
{
	z-index: 805;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 937px;
}

#u981
{
	z-index: 807;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 934px;
}

#u183_img,#u816_img,#u824_img,#u827_img,#u833_img,#u836_img,#u840_img,#u843_img,#u867_img,#u872_img,#u875_img,#u878_img,#u881_img,#u884_img,#u887_img,#u908_img,#u911_img,#u914_img,#u917_img,#u920_img,#u923_img,#u953_img,#u956_img,#u846_img,#u850_img,#u853_img,#u856_img,#u890_img,#u894_img,#u897_img,#u900_img,#u926_img,#u937_img,#u940_img,#u981_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

